 <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/base.css' %}">
    
</head>
<body>
    <header class="site-header sticky-top py-1">
      <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="{% url 'home' %}" aria-label="Product">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
               stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
               stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24">
              <title>Konnov V.</title>
              <circle cx="12" cy="12" r="10"></circle>
              <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
          </svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'home' %}">Home</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'about' %}">About</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Photography</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Subscribe</a>
        <a class="py-2 d-md-inline-block" href="{% url 'login' %}">Sign in</a>
      </nav>
    </header>

    <div class='container'>      
        {% if request.user.is_authenticated %}
        <p style='text-align-last: right'>Hello, {{request.user}}!</p>
        <div class="d-flex align-items-end justify-content-end">   
          <a class="btn btn-outline-dark" href="{% url 'logout' %}">Logout</a>                  
        </div>
        {% endif %}      
       
      </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- grid of photos-->
    <div class="container" style="max-width: 80%">
      <div class="row">
        {% for photo in random_photos %}
        <div class="col-md-4 mb-2">
           <div class="card rounded-0" style="width: auto;">
               <a href="{% url 'photography' photo.id %}">
                   <div class="img-text-container card-img-wrap">
                       <img class="card-img-top rounded-0 border border-secondry" src='{{photo.image.url}}' alt="Card image cap">
                       <div class="text-center bg-text inner">
                          <p>{{photo.name}} </p>
                        </div>
                   </div>
               </a>            
         </div>
        </div>
        {% endfor %}
      </div>

    </div>
</body>
</html>



