{% extends 'main/base.html' %}
{% load static %}

{% comment %} {% block title %}
Home
{% endblock%} {% endcomment %}

{% block content %}    
    <div class='container'>      
        {% if request.user.is_authenticated %}
        
        <div class="d-flex align-items-end justify-content-end mt-1">
          <div class="d-flex p-2">Hello,&nbsp<strong>{{request.user}}</strong>!</div>   
          <a class="btn btn-outline-dark" href="{% url 'logout' %}">Logout</a>                  
        </div>
        {% endif %}  
        <div class="col-md-5 mx-auto text-center" style="margin-bottom: 3rem; margin-top: 1rem">
          <h1 class="display-6 fw-normal">Hello!</h1>
          <p class="lead fw-normal">I'm Vadim Konnov  and you're on my photos website.  Comments are appreciated!</p>            
        </div>
    </div>

    <!-- grid of photos-->
    <div class="container" style="max-width: 80%">
      <div class="row">
        {% for photo in random_photos %}
        <div class="col-md-4 mb-2">
           <div class="card rounded-0" style="width: auto;">
               <a href="{% url 'photography' photo.id %}">
                   <div class="img-text-container card-img-wrap">
                       <img class="card-img-top rounded-0 border border-secondry" src='{{photo.image.url}}' alt="Card image cap">
                       <div class="text-center bg-text inner">
                          <p>{{photo.name}} </p>
                        </div>
                   </div>
               </a>            
         </div>
        </div>
        {% endfor %}
        <div class="d-grid gap-2">
          <a class="btn btn-outline-dark" href="{% url 'photos' %}">See all photos</a>
        </div>
      </div>
    </div>
{% endblock %}
